{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row col-10 mt-2">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">L.P.</th>
                    <th scope="col">Pracownik</th>
                    <th scope="col">Serwisy GSM</th>
                    <th scope="col">Serwisy GRAWERA</th>
                    <th scope="col">Inne prace</th>
                    <th scope="col"></th>
                    <th scope="col">Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for pracownik in pracownicy %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{pracownik}}</td>
                    <td>{{pracownik.pokaz_sumeGSM}}</td>
                    <td>{{pracownik.pokaz_sumeGRAWER}}</td>
                    <td>{{pracownik.pokaz_sumeINNE}}</td>
                    <td></td>
                    <td><a href="{% url 'szczegoly_serwisow_serwisanta' pk=pracownik.id %}">Szczegóły</a>

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
    {% endblock %}