{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mr-auto">
    <div><label for=""><b>Wyszukiwarka:</b> (uwzględnij wielkość liter) TYLKO 200 WYNIKÓW!</label>
    </div>
    <div class="row col-12 m-1 mx-auto">
        {% for el in sklepy %}
        {% if el.id != 5  %}
        {% if el.id == lokal %}
        <a class="col-lg-2 m-1 ml-2 mr-2 mx-auto" href="/miktel/lista_serwisow/{{el.id}}"><button
                class="btn btn-success col-12 mx-auto">{{el}}</button></a>
        {% else %}
        <a class="col-lg-2 m-1 ml-2 mr-2 mx-auto" href="/miktel/lista_serwisow/{{el.id}}"><button
                class="btn btn-warning col-12 mx-auto">{{el}}</button></a>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <form method="POST" class="row col-12 m-2 mt-2 mx-auto">
        {% csrf_token %}
        <input id="search" class="col-xs-8 col-lg-4" name="szukaj" maxlength="128" type="text" class="form-control"
            placeholder="numer umowy, kategoria, nazwa, model, imei" aria-label="Recipient's username"
            aria-describedby="basic-addon2">

        <button type="submit" class="btn btn-dark col-lg-2 col-xl-2"><span>Przeszukaj całą bazę</span></button>
    </form>
    <div class="row col-10 mt-2">
        <button type="button" class="btn btn-warning mb-2"><a class="dodaj" href="{% url 'dodaj_serwis' %}">Dodaj
                serwis</a></button>
    </div>

</div>
<h1>Serwisy przyjęte do naprawy</h1>
<div class="row col-12 mt-2">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">L.P.</th>
                <th scope="col">Numer serwisu</th>
                <th scope="col">Data przyj.</th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">imei</th>
                <th scope="col">Numer telefonu</th>
                <th scope="col">Cena ustalona</th>
                <th scope="col">Koszt</th>
                <th scope="col">Co naprawiamy</th>
                <th scope="col">Przyjmujący</th>
                <!-- <th scope="col">Naprawiał</th> -->
                <th scope="col">Status</th>
                <th scope="col">Miejsce dodania</th>
                <th scope="col">Info</th>
                <th scope="col">PDF</th>
                <th scope="col">Napraw</th>
                <th scope="col">Części</th>
                <th scope="col">Edycja</th>
            </tr>
        </thead>
        <tbody>
            {% for el in serwisy %}

            <tr class="lista">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{el.id}}</td>
                <td>{{el.data}}</td>
                <td>{{el.marka}}</td>
                <td>{{el.model}}</td>
                <td>{{el.imei}}</td>
                <td>{{el.numer_telefonu}}</td>
                <td>{{el.cena_zgoda}}</td>
                <td>{{el.koszt}}</td>
                <td>{{el.usluga.nazwa}}</td>
                <td>{{el.pracownik}}</td>
                <!-- <td>{{el.serwisant}}</td> -->
                <td>{{el.get_status_display}}</td>
                <td>{{el.sklep}}</td>
                <td>{{el.info}}</td>
                <td><a href="{% url 'serwis_pdf' pk=el.id %}">PDF</a></td>
                <td><a href="{% url 'gotowy_serwis' pk=el.id %}">Gotowy do odbioru</a></td>
                <td> <a href="{% url 'wykonaj_serwis_z_czesciami' pk=el.id %}">Użyj części</a></td>
                {% if user.is_superuser %}
                <td><a href="{% url 'szczegoly_serwisu' pk=el.id %}">Edycja</a><br>
                    {% else %}
                <td>Tylko admin</a><br>
                    {% endif %}

            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
<div class="col-8 input-group mb-3 mx-auto">
    <div class="col-1"></div>
    <nav aria-label="...">
        {% if serwisy.has_other_pages %}
        <ul class="pagination text-dark">
            {% if serwisy.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ serwisy.previous_page_number }}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?page={{ serwisy.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in serwisy.paginator.page_range %}
            {% if serwisy.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if serwisy.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?page={{ serwisy.next_page_number }}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?page={{ serwisy.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
<div class="col-1"></div>
{% endblock %}