{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div><label for=""><b>Wyszukiwarka:</b> (uwzględnij wielkość liter) TYLKO {{page_records}} wyników!</label>
    </div>
    <div class="row col-8 m-2">
        <select name="szukaj" id="search2">
            <option value="{{el.nazwa}}">Wybierz sklep</option>
            {% for el in sklepy %}
            <option value="{{el.nazwa}}">{{el.nazwa}}{{el.adres.miasto}}</option>
            {% endfor %}
        </select>
    </div>

    <form method="POST" class="row col-12 m-2 mt-2 mx-auto">
        {% csrf_token %}
        <input id="search" class="col-xs-8 col-lg-4" name="szukaj" maxlength="128" type="text" class="form-control"
            placeholder="numer umowy, kategoria, nazwa, model, imei" aria-label="Recipient's username"
            aria-describedby="basic-addon2">

        <button type="submit" class="btn btn-dark col-lg-2 col-xl-2"><span>Przeszukaj całą
                bazę</span></button>
    </form>
    <div class="row col-10 mt-2">
        <button type="button" class="btn btn-warning mb-2"><a class="dodaj" href="{% url 'dodaj_serwis' %}">Dodaj
                serwis</a></button>

        <a href="/miktel/get_data_services">
            <button type="button" class="btn btn-primary">
                Utwórz zestaw danych w Excel
            </button>
        </a>
    </div>

</div>
<h1>Serwisy wydane - Archiwum</h1>
<div class="row col-12 mx-auto mt-2">
    <table class="table mx-auto table-dark">
        <thead>
            <tr>
                <th scope="col">L.P.</th>
                <th scope="col">Numer serwisu</th>
                <th scope="col">Data wyd.</th>
                <th scope="col">Model</th>
                <th scope="col">imei</th>
                <th scope="col">Numer telefonu</th>
                <th scope="col">Zapłacono</th>
                <th scope="col">Zysk</th>
                <th scope="col">Naprawiano</th>
                <th scope="col">Klient</th>
                <th scope="col">Przyjmujący</th>
                <th scope="col">Naprawiający</th>
                <th scope="col">Sklep</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            {% for el in serwisy %}

            <tr class="lista">
                <th scope="row">{{ serwisy.start_index|add:forloop.counter0 }}</th>
                <td>{{el.id}}</td>
                <td>{{el.data_wydania}}</td>
                <td>{{el.model}}</td>
                <td>{{el.imei}}</td>
                <td>{{el.numer_telefonu}}</td>
                <td>{{el.cena_zgoda}}</td>
                <td>{{el.get_service_zysk}}</td>
                <td>{{el.usluga.nazwa}}</td>
                <td>{{el.imie_nazwisko}}</td>
                <!-- <td>{{el.get_status_display}}</td> -->
                <td>{{el.pracownik}}</td>
                <td>{{el.serwisant}}</td>
                <td>{{el.sklep}}</td>
                <td>{{el.info}}</td>
                <td><a href="/miktel/reklamacja_serwis/{{el.id}}">Przyjmij reklamację</a><br>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-12 input-group mb-3 mx-auto text-wrap nav-scroller py-1 mb-2">
    <div class="col-1"></div>
    <nav aria-label="..." class="nav d-flex justify-content-center">
        {% if serwisy.has_other_pages %}
        <ul class="pagination text-dark pagination pagination-sm flex-sm-wrap">
            {% if serwisy.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ serwisy.previous_page_number }}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?page={{ serwisy.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in serwisy.paginator.page_range %}
            {% if serwisy.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if serwisy.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?page={{ serwisy.next_page_number }}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?page={{ serwisy.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}
