{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "miktel/style.css" %}">
    {% block head_additional %}
    {% endblock %}
    <title>Serwis System Miktel | {% block title %}{% endblock %}</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Miktel Premium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle col-xs-12" href="/zakup_telefonu/" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Telefony
                    </a>
                    <div class="dropdown-menu col-xs-6" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item col-xs-6" href="/telefony_magazyn/">Telefony na stanie</a>
                        <a class="dropdown-item" href="/telefony_sprzedane/">Telefony sprzedane</a>
                        <a class="dropdown-item" href="/umowa_komisowa/">Umowa komisowa</a>
                        <a class="dropdown-item" href="/faktura_zakupu/">Faktura Vat</a>
                        <a class="dropdown-item" href="/lista_umow/">Lista Umów komisowych</a>
                        <a class="dropdown-item" href="/lista_faktur/">Lista Faktura Vat</a>
                        <a class="dropdown-item" href="/dodaj_telefon/">Dodaj telefon</a>
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/zakup_telefonu/" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Serwisy
                    </a>
                    <div class="dropdown-menu col-xs-6" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dodaj_serwis/">Przyjmij sprzęt do naprawy</a>
                        <a class="dropdown-item" href="/lista_serwisow/">Lista przyjętych serwisów</a>
                        <a class="dropdown-item" href="/lista_serwisow_gotowych/">Lista gotowych serwisów</a>
                        <a class="dropdown-item" href="/archiwum_serwisow/">Archiwum napraw</a>
                        <a class="dropdown-item" href="/dodaj_czesc/">Dodaj część</a>
                        <a class="dropdown-item" href="/lista_czesci/">Lista części</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/zakup_telefonu/" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Premiowanie
                    </a>
                    <div class="dropdown-menu col-xs-6" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dodaj_premiaJob/">Wykonaj usługę premiowaną</a>
                        <a class="dropdown-item" href="/dodaj_inne/">Wykonaj inne prace</a>
                        <a class="dropdown-item" href="/akcesoria_gsm_miesiąc/">Dodaj miesięczna sumę sprzedaży
                            akcesoriów GSM</a>
                        <a class="dropdown-item" href="/twoje_premie/">Twoje premie bieżący miesiąc</a>
                        <a class="dropdown-item" href="/dashboard_sklepow/">Usługi premiowane w sklepach</a>
                        <a class="dropdown-item" href="/lista_uslug/">Lista usług premiowanych</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statystyki
                    </a>
                    <div class="dropdown-menu col-xs-6" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/lista_serwisow/">Historia serwisów</a>
                        <a class="dropdown-item" href="/dashboard_sklepow/">Szukaj wg daty</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administracja
                    </a>
                    <div class="dropdown-menu col-xs-6" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dodaj_uzytkownika/">Dodaj użytkownika</a>
                        <a class="dropdown-item" href="/lista_uzytkownikow/">Lista pracownikow</a>
                        <a class="dropdown-item" href="/dodaj_sklep/">Dodaj sklep/magazyn</a>
                        <a class="dropdown-item" href="/premie/">Premie</a>
                        <a class="dropdown-item" href="/uslugi/">Usługi</a>

                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0" method="POST" action="/szukaj_czesci/">
                {% csrf_token %}
                <input name="szukaj" class=" form-control mr-sm-2" type="search" placeholder="Części"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Części</button>
            </form> -->

            <ul class="navbar-nav ml-auto nav-flex-icons">

                <li class="nav-item dropdown">


                    {% if user.is_authenticated %}
                    <i class="fas fa-user"></i>
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                        {% else %}
                        <a class="dropdown-item text-light" href="/login/">Zaloguj</a>
                        {% endif %}
                        </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="/profil/{{user.id}}">Mój profil</a>
                        <a class="dropdown-item" href="#">Dane adresowe</a>
                        <a class="dropdown-item" href="#">Dokumenty</a>
                        <a class="dropdown-item" href="/logout/">Wyloguj</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mr-auto">
        <div class="col-12 mt-2 mr-auto">{% block content %}
            {% endblock %}
        </div>
    </div>






    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{% static "miktel/main.js" %}" type="text/javascript"></script>
</body>

</html>