{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div><label for=""><b>Wyszukiwarka:</b> (uwzględnij wielkość liter)</label>
    </div>
    <div class="row col-8 m-2">
        <select name="szukaj" id="search2">
            <option value="{{el.nazwa}}">Wybierz sklep</option>
            {% for el in sklepy %}
            <option value="{{el.nazwa}}">{{el.nazwa}}{{el.adres.miasto}}</option>
            {% endfor %}
        </select>
    </div>
    <form method="POST" class="row col-10 m-2">
        {% csrf_token %}
        <input id="search" class="row col-4 m-2" name="szukaj" maxlength="128" type="text" class="form-control"
            placeholder="numer umowy, kategoria, nazwa, model, imei" aria-label="Recipient's username"
            aria-describedby="basic-addon2">

        <button type="submit" class="btn btn-dark col-4 m-2">Przeszukaj całą bazę</button>
    </form>
</div>

<div class="row col-12 mt-2 mx-auto">
    <h3>Lista faktur vat</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Numer faktury</th>
                <th scope="col">Data zakupu</th>
                <th scope="col">Hurtownia</th>
                <th scope="col">Miejsce zakupu</th>
                <th scope="col">Telefony</th>
                <th scope="col">Kto zakupił</th>
                <th scope="col">Suma</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for el in faktury %}

            <tr class="lista">

                <td>{{el.numer}}</td>
                <td>{{el.data_zak}}</td>
                <td>{{el.hurtownia}}</td>
                <td>{{el.sklep}}</td>
                <td>
                    <ul>
                        {% for tel in el.telefon.all %}
                        <li>{{tel.marka}} {{tel.nazwa}} Cena brutto: {{tel.cena_zak}} imei:{{tel.imei}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{el.pracownik_zak}}</td>
                <td>{{el.invoice_sum}}</td>
                <td><a href="/edycja_faktury/{{el.id}}">Edytuj fakture</a><br></<a>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-8 input-group mb-3 mx-auto">
    <div class="col-1"></div>
    <nav aria-label="...">
        {% if faktury.has_other_pages %}
        <ul class="pagination text-dark">
            {% if faktury.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ faktury.previous_page_number }}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?page={{ faktury.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in faktury.paginator.page_range %}
            {% if faktury.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if faktury.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?page={{ faktury.next_page_number }}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?page={{ faktury.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
<div class="col-1"></div>


{% endblock %}