{% extends 'base_store.html' %}
{% load static %}

{% block head %}
<meta name="google-site-verification" content="xhVGOnN3XP54XGZrgntyYrkumNYbYzh-SZNnOFnwx3Q" />
<meta name="google-site-verification" content="n1_YSbvYUnTROCFU9249qWilJCn9rKRcPM4mFRANpEk" />
<meta name="google-site-verification" content="_qb43naZBKuiJg6mWdOUITceUHryikkcZcbDBmRGNlM" />
<meta name="google-site-verification" content="YSaG_jmu0TwExlcMbGiaWb2Ko6pQh-sprjEzhDusGhU" />
<meta name="google-site-verification" content="xhVGOnN3XP54XGZrgntyYrkumNYbYzh-SZNnOFnwx3Q" />
<meta name="google-site-verification" content="Tq6mKOhY72AQGqqLSXAk_nSF9ExLoasZO-lcN5gTlHI" />
<meta name="google-site-verification" content="xYom_-5duiE4Y3T7PSFvO-a1Pmid-21ANnDaX1pjE3g" />
<meta name="google-site-verification" content="WyZfk_74JuZNYwbwD-69QWTOclSECA9yYqOEmt6G96M" />
<meta name="google-site-verification" content="zqSv9rLwnjBiC01BzRhvZLUknuIeFiKOebKcGxbdNPU" />
<meta name=”keywords”
    content='skup telefonów komórkowych kraków, skup telefonów kraków cennik, serwis gsm Kraków, naprawy telefonów Kraków, problemy z ładowaniem Kraków, Pieczątki firmowe Kraków, Pieczątki Kraków, tabliczki grawerowane Kraków, grawer na prezent Kraków, grawerowanie w drewnie Kraków, grawerowanie w szkle Kraków'>
<meta name="description"
    content='Posiadamy wiele telefonów nowych i używanch. Prowadzimy serwis i naprawy gsm. Posiadamy duży wybór akcesoriów do telefonów. U nas również sprzedaż telefon'>
<link rel="canonical" href="https://www.miktel.krakow.pl/akcesoria-gsm-do-telefonow-komorkowych-oferta-cennik/">
<!-- <link rel="stylesheet" href="{% static "store/style_main.css" %}"> -->
{% endblock %}

{% block title %}

Miktel Store | W naszej ofercie akcesoria gsm, szkła hartowane i wiele innych.

{% endblock %}

{% block content %}
<div class="d-none col-lg-12 mr-auto row text-left link p-0 m-0 d-none d-lg-block">
    <a class="text-white text-left" href="/"><span>Strona główna</span></a><span class="text-white">-</span><a
        class="text-white" href="/telefony-serwis-akcesoria/"><span>Oferta GSM, promocje</span></a><span
        class="text-white">-</span><a class="text-white"
        href="/akcesoria-gsm-do-telefonow-komorkowych-oferta-cennik/"><span>Oferta akcesoria GSM - kategorie</span></a>
</div>

<div class="bcg-main col-12  ml-0 mr-0  mx-auto">
    {% if send_email %}
    <div class="col-12 mx-auto text-center">
        <strong class="col-12 mx-auto text-center text-light h2">{{send_email}}</strong>
    </div>
    {% endif %}
    <h1 class="col-lg-12 mx-auto text-white text-left">AKCESORIA GSM DO TELEFONÓW KOMÓRKOWYCH</h1>


    <form class="form-inline col-lg-6 mx-auto row mt-3 mb-3 search_link" method="POST">
        {% csrf_token %}
        <label class="text-white mx-auto mb-3 text-left" for="">Wyszukiwarka akcesoriów</label>
        <div class="col-12 mx-auto row">
            <input name="search" id="input" class="text-center form-control mr-sm-2 mx-auto col-8" type="text"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 col-3 mx-auto bg-secendary" type="submit">Search</button>
        </div>
    </form>
    <div id="div_link" class="col-10 col-lg-6 mx-auto bg-white search_link border text-center">
        <ul class="col-12 link mx-auto text-center row" id="link">
        </ul>
    </div>
    <div class="col-12 p-3 m-0 mb-3 mx-auto row title">
        <div class="card-group col-12 row d-flex align-items-start text-left">
            {% for cat in accessories_cats %}
            <a class="m-0 p-1 col-4 text-left col-lg-2" href="/produkty/{{cat.profile_id.slug}}/{{cat.slug}}/">
                <div class="card  text-left">
                    <img class="card-img-top mx-auto img-thumbnail m-1" src="{{ MEDIA_URL }}{{cat.foto_mini.image}}"
                        alt="{{cat.foto_mini.alt}}" title="{{cat.foto_mini.title}}">
                    <div class="card-body mx-auto">
                        <h5 class="card-title mx-auto text-center">{{cat.name}}</h5>
                        <!-- <p class="mx-auto"><small class="text-center text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "store/main_accessories.js" %}" type="text/javascript"></script>
{% endblock %}