{% extends 'base_store.html' %}
{% load static %}

{% block head %}
<meta name="google-site-verification" content="xhVGOnN3XP54XGZrgntyYrkumNYbYzh-SZNnOFnwx3Q" />
<meta name="google-site-verification" content="n1_YSbvYUnTROCFU9249qWilJCn9rKRcPM4mFRANpEk" />
<meta name="google-site-verification" content="_qb43naZBKuiJg6mWdOUITceUHryikkcZcbDBmRGNlM" />
<meta name="google-site-verification" content="YSaG_jmu0TwExlcMbGiaWb2Ko6pQh-sprjEzhDusGhU" />
<meta name="google-site-verification" content="xhVGOnN3XP54XGZrgntyYrkumNYbYzh-SZNnOFnwx3Q" />
<meta name="google-site-verification" content="Tq6mKOhY72AQGqqLSXAk_nSF9ExLoasZO-lcN5gTlHI" />
<meta name="google-site-verification" content="xYom_-5duiE4Y3T7PSFvO-a1Pmid-21ANnDaX1pjE3g" />
<meta name="google-site-verification" content="WyZfk_74JuZNYwbwD-69QWTOclSECA9yYqOEmt6G96M" />
<meta name="google-site-verification" content="zqSv9rLwnjBiC01BzRhvZLUknuIeFiKOebKcGxbdNPU" />
<meta name=”keywords”
    content='skup telefonów komórkowych kraków, skup telefonów kraków cennik, serwis gsm Kraków, naprawy telefonów Kraków, problemy z ładowaniem Kraków, Pieczątki firmowe Kraków, Pieczątki Kraków, tabliczki grawerowane Kraków, grawer na prezent Kraków, grawerowanie w drewnie Kraków, grawerowanie w szkle Kraków'>

<meta name="description"
    content='Miktel Store firma usługowo-handlowa. W naszej ofercie serwis telefonów, grawerowanie laserem, wyrób pieczątek oraz dorabianie kluczy i kopiowanie immobiliserów'>
<link rel="canonical" href="https://www.miktel.krakow.pl">
<link rel="stylesheet" href="{% static "store/style.css" %}">
{% endblock %}

{% block title %}

Miktel Store | W ofercie telefony, serwis, grawerowanie i klucze.

{% endblock %}

{% block content %}
<div class="col-12 mx-auto bg-main"></div>

<div class="bg-main col-12 p-3 m-0 mb-3 mx-auto row title ">
    <h1 class="mx-auto col-10 text-center display-5">Telefony komórkowe - Serwis, akcesoria</h1>
    <div class="col-12 row oferta text-wrap">
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box">
            <h4 class="mx-auto display-6  col-10 col-lg-12  box_200" style="height: 110px;">Telefony<br> komórkowe
            </h4>
            <p class="lead  mx-auto text-center col-10 col-lg-12 box_200" style="height: 120px;">Sprzedajemy
                telefony
                komórkowe. Nowe i
                używane</p>
            <i class="fas fa-mobile-alt mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12 box_150" style="height: 150px;">W naszych sklepach w
                ciągłej
                ofercie mamy
                około 200
                telefonów.
                Nowych
                i używanych
            </p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center box_100"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center"
                    href="/telefony-komorkowe-dostepne-w-sklepach-miktel-krakow-pulawy/">
                    <p class="">Zobacz
                        naszą
                        ofertę
                        telefonów</p>
                </a>
            </div>
        </div>
        <div class="mx-auto col-lg-4 flex-column text-center box">
            <h4 class="display-6 col-12 mx-auto text-center" style="height: 110px;">Serwis<br> GSM</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style=" height: 120px;">Naprawy pogwarancyjne
                większości marek producentów
                telefonów</p>
            <i class="fas fa-tools mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">Wieloletnie doświadczenie z
                zakresu
                napraw telefonów
                komórkowych. </p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/serwis-telefonow-komorkowych-oferta-cennik/">
                    <p class="mx-auto text-center">Zobacz ofertę
                        serwisu</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box">
            <h4 class="display-6 col-12" style="height: 110px;">Akcesoria<br> do telefonów</h4>
            <p class="lead  mx-auto text-center col-10 col-lg-12" style=" height: 120px;">Posiadamy duży wybór
                akcesoriów do telefonów komórkowych
            </p>
            <i class="fab fa-usb mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">W stałęj ofecie casy, futerały,
                ładowarki, uchwyty
                samochodowe, szkła
                hartowane
                oraz wiele innych</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center"
                    href="/akcesoria-gsm-do-telefonow-komorkowych-oferta-cennik/">
                    <p class="mx-auto">Zobacz
                        ofertę
                        akcesoriów</p>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 row oferta border-top">
        <h3 class="mx-auto col-10 text-center display-5">Grawerowanie laserem - cięcie, znakowanie</h3>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 mx-auto text-center col-10 col-lg-12" style=" height: 110px;">Grawerowanie<br>
                laserem
                CO2</h4>
            <p class="lead col-12" style="height: 120px;">Grawerujemy w miękkim materiale</p>
            <i class="fas fa-draw-polygon mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">Wszelkiego rodzaju tabliczki
                informacyjne, nieśmiertwelniki dla
                zwierząt, żetony, identyfikatory</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="mx-auto">Zobacz
                        ofertę
                        grawerów</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 110px;">Cięcie<br>laserem</h4>
            <p class="lead col-12">Urządzenie lasesowe umożliwia wycinanie kształtów</p>
            <i class="fas fa-cut mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">Wycinamy kształty w materiałach
                miękkich takich jak sklejka,
                pleksi, laminaty</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="align-self-center mx-auto">Zobacz ofertę
                        cięcia</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 110px;">Znakowanie<br> laserem</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 120px;">Utwardzamy laserem specjalny
                lakier w stali nierdzewnej</p>
            <i class="fas fa-marker mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">Znakowanie w stali pozwala na
                trwałe
                narysowanie grafiki lub
                tekstu w stali</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="align-self-center mx-auto">Zobacz ofertę
                        znakowania</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 row oferta border-top">
        <h2 class="mx-auto col-10 text-center display-5">Wyrób pieczątek - datowniki, numeratory</h2>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 110px;">Pieczątki automatyczne</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 120px;">Wyrabiamy pieczątki w 15
                minut
            </p>
            <i class="fas fa-stamp mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">W naszej ofercie pieczątki
                wszystkich
                rozmiarów. W szczególności
                pieczątki firmowe, pieczątki imienne oraz pieczątki z logiem</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="mx-auto">Zobacz
                        ofertę
                        pieczątek</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 110px;">Datowniki, numeratory</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 120px;">Posiadamy pieczątki typu
                datowniki i numeratory</p>
            <i class="far fa-calendar-alt mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">Tego typu pieczątki bardzo
                przydatne
                w przedsiębiorstwach,
                biurach. Do wyboru modele podstawowe oraz profesjonalne</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="align-self-center mx-auto">Zobacz ofertę
                        datowników, numeratorów</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 110px;">Pieczątki z logiem</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 120px;">Przenieś logo swojej firmy
                na
                pieczatke</p>
            <i class="fas fa-drafting-compass mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12" style="height: 150px;">Wykonujemy przeniesienie państwa
                loga
                firmowego lub znaku
                graficznego na pieczątkę firmową. </p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="align-self-center mx-auto">Zobacz ofertę
                        pieczątek z logiem</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 row oferta border-top">
        <h3 class="mx-auto col-10 text-center display-5">Dorabianie kluczy - <br>mieszkaniowe i samochodowe</h3>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 160px;">Klucze mieszkaniowe</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 150px;">Dorabiamy klucze nacinane,
                nawiercane oraz numeryczne</p>
            <i class="fas fa-key mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12">Posiadamy dwa urządzenia do
                dorabiania kluczy oraz tysiące
                rodzaji surówek kluczy. Sprzedajemu również gotowe klucze numeryczne</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="mx-auto">Zobacz
                        ofertę
                        kluczy mieszkaniowych</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 160px;">Klucze samochodowe z immobiliserem</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 150px;">Oferujemy kopiowanie
                immobiliserów samochodowych oraz
                programowanie pilotów samochodowych</p>
            <i class="fas fa-car-side mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12">Ponieważ większość kluczy
                samochodowych posiada immobiliser,
                dorobienie klucza samochodowego wiąże się z koniecznością programowania nowego klucza oraz pilota
                centralnego zamka</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="align-self-center mx-auto">Zobacz ofertę
                        kluczy samochodowych</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4 bd-highlight mb-3 mx-auto text-center box oferta">
            <h4 class="display-6 col-12" style=" height: 160px;">Naprawa pilotów</h4>
            <p class="lead mx-auto text-center col-10 col-lg-12" style="height: 150px;">W naszym punkcie naprawisz
                pilota samochodowego</p>
            <i class="fas fa-magic mx-auto h2"></i>
            <p class="mx-auto text-center col-10 col-lg-12">Wykonujemy programowanie pilota,
                naprawy switchy, guzików,
                wymiany baterii oraz czyszczenie po zalaniu urządzenia</p>
            <div class="border text-center p-3 col-8 col-lg-10 mx-auto d-flex align-items-center"
                style="height: 100px;">
                <a class="mx-auto d-flex align-items-center" href="/telefony_orerta/">
                    <p class="align-self-center mx-auto">Zobacz ofertę
                        naprawa pilotów</p>
                </a>
            </div>
        </div>
    </div>
    </section>


    {% endblock %}