{% extends 'base_store.html' %}
{% load static %}
{% load templatetag %}

{% block head %}
<meta name="google-site-verification" content="xhVGOnN3XP54XGZrgntyYrkumNYbYzh-SZNnOFnwx3Q" />
<meta name="google-site-verification" content="n1_YSbvYUnTROCFU9249qWilJCn9rKRcPM4mFRANpEk" />
<meta name="google-site-verification" content="_qb43naZBKuiJg6mWdOUITceUHryikkcZcbDBmRGNlM" />
<meta name="google-site-verification" content="YSaG_jmu0TwExlcMbGiaWb2Ko6pQh-sprjEzhDusGhU" />
<meta name="google-site-verification" content="xhVGOnN3XP54XGZrgntyYrkumNYbYzh-SZNnOFnwx3Q" />
<meta name="google-site-verification" content="Tq6mKOhY72AQGqqLSXAk_nSF9ExLoasZO-lcN5gTlHI" />
<meta name="google-site-verification" content="xYom_-5duiE4Y3T7PSFvO-a1Pmid-21ANnDaX1pjE3g" />
<meta name="google-site-verification" content="WyZfk_74JuZNYwbwD-69QWTOclSECA9yYqOEmt6G96M" />
<meta name="google-site-verification" content="zqSv9rLwnjBiC01BzRhvZLUknuIeFiKOebKcGxbdNPU" />
<meta name=”keywords”
    content='skup telefonów komórkowych kraków, skup telefonów kraków cennik, serwis gsm Kraków, naprawy telefonów Kraków, problemy z ładowaniem Kraków, Pieczątki firmowe Kraków, Pieczątki Kraków, tabliczki grawerowane Kraków, grawer na prezent Kraków, grawerowanie w drewnie Kraków, grawerowanie w szkle Kraków'>

<meta name="description"
    content='W stałej ofercie duży wybór telefonów komórkowych. Sprzedajemy telefony nowe i używane. Zobacz cennik telefonów dostępnych w naszych sklepach w Krakowie i Puławach. Aktualnie posiadamy {{products_counter}} szt. telefonów komórkowych.'>
<link rel="canonical" href="https://www.miktel.krakow.pl/produkt/telefony-komorkowe-dostepne-w-sklepach-miktel/">
<!-- <link rel="stylesheet" href="{% static "store/style_main.css" %}"> -->

{% endblock %}

{% block title %}
Sprzedaż telefonów komórkowych w Krakowie. Zobacz nasz cennik.
{% endblock %}

{% block content %}
<div class="col-lg-12 mx-auto row text-left link p-0  fixed-top  hidden">
    <a class="text-white text-left" href="/"><span>Strona główna</span></a><span class="text-white"> >> </span><a
        class="text-white" href="/telefony-serwis-akcesoria/"><span>Oferta GSM, promocje</span></a><span
        class="text-white"> >> </span><a class="text-white"
        href="/produkt/telefony-komorkowe-dostepne-w-sklepach-miktel/"><span>Oferta telefonów
            cennik</span></a>
</div>
<div class="bcg-main col-12  ml-0 mr-0  mx-auto">
    <p class="h3 col-lg-12 mx-auto text-white text-left">TELEFONY
        KOMÓRKOWE DOSTĘPNE W NASZYM SKLEPIE W KRAKOWIE</p></a>

    <div class="col-12 mx-auto text-white text-center text-wrap row xl-mt-5 info_box m-0 p-0">
        <p class="mx-auto col-6 col-lg-3 h5 mt-5 text-white m-0 p-0"><strong>Liczba telefonów
                komórkowych:</strong><br><br>
            {{products_counter}} szt.
        </p>
        <p class="mx-auto col-6 col-lg-3 h5 mt-5 text-white m-0 p-0"><strong>Liczba telefonów wg stanu:</strong><br><br>
            nowych:
            {{new_products_counter}} szt.<br>
            używanych: {{used_products_counter}} szt.</p>
        <p class="mx-auto col-6 col-lg-3 h5 mt-5 text-white m-0 p-0"><strong>Liczba telefonów wg
                producentów:</strong><br><br>

            {% for el in most_mark %}
            {{el.marka}} : {{el.total}} szt.<br>
            {% endfor %}

        </p>
        <p class="mx-auto col-6 col-lg-3 h5 mt-5 text-white m-0 p-0"><strong>Kategorie telefonów
                komórkowych:</strong><br><br>
            {% for el in most_cats %}
            {{el.cat}} : {{el.total}} szt.<br>
            {% endfor %}
        </p>
    </div>
    <form class="form-inline col-lg-6 mx-auto row mt-3 pb-3 search_link " method="GET"
        action="{% url 'store_gsm_phones_search_view' %}">
        <label class="text-white col-12 mb-3 " for="">Wyszukaj informacji o twoim modelu</label>
        <div class="col-12 mx-auto row m-0 p-0">
            <input name="search" id="input" class="text-center form-control mx-auto col-8 m-0 p-0" type="text"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light col-3 mx-auto bg-secendary m-0 p-0" type="submit">Search</button>
        </div>
    </form>
    <div id="div_link" class="col-10 col-lg-6 mx-auto bg-white position-absolute search_link border text-center ">
        <ul class="col-12 link mx-auto text-center row" id="link">
        </ul>
    </div>
    <div class="col-12 ml-0 mr-0 p-0 text-center mx-auto text-white mb-0 m-0 p-0">
        <p class="mx-auto col-12 h5 mt-3 m-0 p-0"><strong>Sprzedajemy telefony komórkowe</strong></p>
        <p class="mx-auto col-11 col-lg-10 mt-3 mb-2 h5 m-0 p-0">Posiadamy duży wybór telefonów komórkowych nowych i
            używanych. Telefony zakupione w naszym sklepie w Krakowie, posiadają 2 letnią gwarancję producenta. </p>
    </div>
</div>

<section name="products" class="col-12 mx-auto text-center p-0 m-0 row align-items-start">
    <h1 class="col-12 mx-auto mt-2 text-dark">Telefony komórkowe Cennik</h1>
    <p class="card-text col-12"><small class="text-muted">**Przedstawiona oferta cenowa ma charakter informacyjny i nie
            stanowi
            oferty handlowej w rozumieniu Art.66 par.1
            Kodeksu Cywilnego.</small></p>
    <div class="col-lg-2 mx-auto p-0 m-0 row form-group">
        <form class="col-lg-12 form mx-auto m-0 text-center align-items-start mt-2 row" method="GET"
            action="{% url 'store_gsm_phones_main_view' %}">
            {{ form_filter.as_p }}
            <button class="col-6 mx-auto btn btn-dark " type="submit" value="Wybierz">Wybierz</button>
        </form>
    </div>

    <table class="table col-lg-10 ml-auto phone_list">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Ilość</th>
                <th scope="col">Marka/Model</th>
                <th scope="col">Stan/Kategoria</th>
                <th scope="col">Sklep</th>
                <th scope="col">Cena</th>
                <th scope="col">Cena promocyjna</th>
                <th scope="col">Szczegóły</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="">
                <th scope="row">{{ products.start_index|add:forloop.counter0 }}</th>
                <td><img class="img_mini" src="{{ MEDIA_URL }}{{product.foto_mini.image}}"
                        class="img-fluid img-thumbnail img-responsive" alt="{{product.foto_mini.alt}}"
                        title="{{product.foto_mini.title}}"><br>

                </td>
                <td>
                    <div class="col-12 m-0 p-0 text-left">
                        {% if product.dostepny == True %}
                        <p class="col-12 m-0 p-0 bg-success text-white text-center"><strong>Magazyn: Dostępny
                            </strong>
                        </p>
                        {% else %}
                        <p class="col-12 m-0 p-0 bg-danger text-white text-center"><strong>Magazyn: Brak
                            </strong>
                        </p>
                        {% endif %}
                    </div>
                </td>
                <td><strong> {{product.marka}}
                        {{product.nazwa}}</strong><br>
                    <i class="mr-auto col-12 text-left">ID: {{product.id}}</i><br>

                </td>
                <td>{{product.get_stan_display}}<br>
                    {{product.kategoria}}</td>
                <td><span
                        class="d-none d-lg-block">{{product.magazyn_aktualny.adres}}</span>{{product.magazyn_aktualny.nazwa}}
                </td>
                <td>{{product.cena_sprzed}}** zł<br>

                </td>
                <td>{% if product.cena_promo %}
                    <strong> <span class="text-danger">{{product.cena_promo}}** zł</span></strong>
                    {% else %}
                    <span class="text-danger">Brak promocji</span>
                    {% endif %}
                    <br>
                </td>
                <td> <a href="/produkt/telefony-komorkowe-dostepne-w-sklepach-miktel/{{product.slug}}/{{product.id}}">
                        <button class="btn btn-dark ask_for mx-auto text-white">Szczegóły</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


<div class="col-12 input-group mb-3 mx-auto text-center text-wrap nav-scroller py-1 mb-2 nav_pagi">
    <div class="col-1"></div>
    <nav aria-label="..." class="nav d-flex justify-content-center mx-auto">
        {% if products.has_other_pages %}
        <ul class="pagination text-dark pagination pagination-lg flex-wrap text-wrap mx-auto text-center">
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark"
                    href="?{% query_transform page=products.previous_page_number %}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?{% query_transform page=products.previous_page_number %}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark"
                href="?{% query_transform  page=i  %}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?{% query_transform page=products.next_page_number %}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?{% query_transform page=products.next_page_number %}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "store/main_gsm.js" %}" type="text/javascript"></script>
{% endblock %}